body {
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #DEDEDE;
}

.header {
	height: 50px; 
	background-image:url('images/header_background.png');
	background-size: 80px;
	background-repeat: repeat-x;
	overflow: hidden;
}

.clear{
	clear: both;
}

.header-logo img{
	z-index: 1000px;
	float: left; 
	display: inline; 
	padding-right: 20px; 
	height: 8%;
	padding-left: 15%;
	position: absolute;
	top: 5px;
}

.nav-items{
	float: left;
	height: 100%;
	padding-left: 30%;
}

.nav-items a{
	text-decoration: none;
}

.bordred-header-link-right{
	-webkit-border-image: url('images/header-link-border.png') 0 50 0 0;
}

.bordred-header-link-left-right{
	-webkit-border-image: url('images/header-link-border.png') 0 50 0 50;
}

.bordered-header-link{
	height: 100%;
	display: inline-block;
}

.bordered-header-link p{
	color: #C1C1C1;
	font-size: 12;
	padding-left: 15px;
	padding-right: 15px;
}

.right-header-items{
	float: right;
	padding-right: 16%;
}

.search-box{
	background-image: url("images/search.png");
	background-size: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	border:2px solid #020202;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	vertical-align: top;
	margin-top: 15px;
	background-color: #444444;
	outline-width: 0;
	color: #B5B9B8;
	padding-left: 20px;
	width: 100px;
}

.right-header-items img{   
	height: 100%;
	display: inline;
}

.not-count{
	color: red;
	font-weight: bold;
	font-size: 16px;
}

.notifications {
	width: 10%;
	float: left;
	padding-top: 10px;
}

.notification-overlay {
	position: absolute;
	z-index: 2;   
	width: 250px;
	background-color: orange;
}

.notification {
	width: 100%;
}

.notification a{
   display: block;
   background-color: red !important;
   padding: 3px;
   text-decoration: none;
   color: white;
}

.notification a:hover{
   background-color: pink !important;
}

.notifications table{
	width: 100%;
	border-collapse: collapse; 
}

.notifications td{
	height: 30px;
	border: none;
	text-align: center;
}

.notifications td a{
   display: block;
   background-color: orange;
   padding: 3px;
   text-decoration: none;
   color: white;
}

.notifications td a:hover{
   background-color: black;
}

.nav {
	width: 90%;
	float: right;
	padding-top: 10px;
}

.nav table{
	width: 100%;
	border-collapse: collapse; 
	table-layout: fixed;
}

.nav td{
	height: 30px;
	border: none;
	text-align: center;
}

.nav td a{
   display: block;
   background-color: #0080C0;
   padding: 3px;
   text-decoration: none;
   color: white;
}

.nav td a:hover{
   background-color: #5BB8BD;
}

.header h1 {
	font-size: 30;
	color: black;
	display: inline;
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


.notification-filter{
	float: right;
	padding-top: 10px;
}

.notification-filter img{
	height: 50px;
	vertical-align: top;
	border-bottom: 1px solid #6F756F;
	float: left;
}

.content {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 1300px;
}

.main-content {
	width: 100%;
	background-color: #FFFFFF;
	overflow: hidden; 
}

.content h1 {
	display: inline;
}

.footer {
	height: 180px;
	background-color: #2C2C2C;
}

.footer-column {
	width: 27%;
	height: 100%;
	display: inline-block;
	margin-left: 40px;
	margin-top: 50px;
	vertical-align: top;
}

.footer-column-content {
	border-right: 1px solid #6F756F;
	width: 100%;
	display: inline-block;
	min-height: 80px;
	color: #787D78;
}

.footer-column-content h2{
	color: #DEDEDE;
	margin: 0 0 0 0;
}

.footer-column-content a{
	text-decoration: none;
	color: #4F9585;
}

.footer-column-content p{
	margin-top: 5px;
}

.no-border{
	border: none;
}

.page {
	width: 100%;
	display: inline-block;
}

.bottom-links {
	display:inline;
}

.bottom-links li {
	display:inline;
	padding-left: 20px;
}

.login {
	float: left;
	color: black;
}

.profile-pic {
	min-height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.profile-pic img {
	border:5px solid blue;
	max-width: 300px;
}

.goal {
	background-color: #B9B9B9;
	width: 960px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.goal_column {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
}

.goal_column img {
	border:5px solid yellow;
	max-width: 200px;
	max-height: 250;

}

.goal_column h1 {
	font-size: 30;
	color: #020248;
	border-bottom: none;
	display: block;
}

.goal_column p {
	display: inline-block;
}

.goal_column_double {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 10px;
}

.goal_column_double img {
	border:5px solid yellow;
	max-width: 200px;
	max-height: 250;

}

.goal_column_double h1 {
	font-size: 30;
	color: #020248;
	border-bottom: none;
	display: block;
}

.goal_column_double p {
	display: inline-block;
}

.space {
	padding-top: 20px;
}

.small-space {
	padding-top: 10px;
}

.witness {
	
}

.witness img{
	border:2px solid red;
	width: 50px;
	height: 50px;
}

.witness h2{
	
}

.users {
	width: 24%;
	float: right;
}

.stream {
	width: 76%;
	float: left;
}

.info{
	width: 100%;
}

.goal-column-wrapper{
	width: 66%;
	display: inline-block;
}

.stream-goal {
	border:3px solid black;
	background-color: #B9B9B9;
	width: 960px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.stream-goal img{
	border:5px solid yellow;
	max-width: 100px;
}

.stream-goal-small-wrapper{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.stream-goal-small {
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:2px solid green;
	width: 47%;
	display: inline-block;
	min-height: 200px;
}

.stream-goal-small img{
	border:5px solid yellow;
	max-width: 100px;
}

.goal-comments {
	width: 800;
	border:5px solid blue;
	margin-left: auto;
	margin-right: auto;
}

.comment {
	width: 600;
	border:5px solid red;
	margin-left: auto;
	margin-right: auto;
}

.goal-form-header {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.goal-form-header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.buttons{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

.personal{
	 margin-bottom: 10px;
	 width: 240px;
	 height: 85px;
	 display:inline-block;
	 background: url('images/personal-button.jpg') center top no-repeat;
}

.personal:hover {
   background-image: url('images/personal-rollover.jpg');
}

.professional{
	 margin-bottom: 10px;
	 width: 240px;
	 height: 85px;
	 display:inline-block;
	 background: url('images/professional-button.jpg') center top no-repeat;
}

.professional:hover {
   background-image: url('images/professional-rollover.jpg');
}

.educational{
	 margin-bottom: 10px;
	 width: 235px;
	 height: 83px;
	 display:inline-block;
	 background: url('images/educational-button.jpg') center top no-repeat;
}

.educational:hover {
   background-image: url('images/educational-rollover.jpg');
}

.philanthropic{
	 margin-bottom: 10px;
	 width: 240px;
	 height: 85px;
	 display:inline-block;
	 background: url('images/philanthropic-button.jpg') center top no-repeat;
}

.philanthropic:hover {
   background-image: url('images/philanthropic-rollover.jpg');
}

.tweet{
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:3px solid blue;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.fb-album-buttons{
	width: 47%;
	margin-left: 5px;
	float: left;
}

.fb-album-buttons input{
	display: inline;
	float: left;
}

.photo-selector{
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:3px solid black;
	width: 47%;
	margin-left: 5px;
	float: left;
}

.photo-selector img{
	width: 20%;
}

.goal-photo-selector{
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:3px solid black;
	width: 47%;
	margin-left: auto;
	margin-right: auto;
}

.goal-photo-selector img{
	width: 20%;
}

.photo-select{
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
}

.selected{
	border:5px solid red;
}

.error{
	float: right;
	margin-right: 10px;
	color: red;
}

/* FORMS */
.sign-up{
	padding-top: 30px;
	line-height: 30px; 
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	background-color: #B3B5A8;
	border:5px solid black;
}

.add-goal{
	padding-top: 30px;
	line-height: 30px; 
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	background-color: #B3B5A8;
	border:5px solid black;
}

.comment-form{
	padding-top: 30px;
	line-height: 30px; 
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	background-color: #B3B5A8;
	border:5px solid black;
}

.login-form{
	padding-top: 30px;
	line-height: 30px; 
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	background-color: #B3B5A8;
	border:5px solid black;
}

.account-form{
	padding-top: 30px;
	line-height: 30px; 
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	background-color: #B3B5A8;
	border:5px solid black;
}

.multi-file-upload-wrapper{
	width: 50%;	
	margin-right: 5px;
	float: right;
}

.table{
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:3px solid black;
	float: right;
}

.multi-buttons{
	width: 50%;	
	margin-right: 5px;
	float: right;
}
/* END FORMS */

/* INTRICATE SLIDESHOW GOALS */

.panel{
	height: 900px;
	width: 870px;
}

.extra-margin-left{
	margin-left: 15px;
}

.feature-achievement{
	width: 32%;
	height: 90%;
	display: inline-block;
	margin-right: 5px;
	border:2px solid #DFDFDF;
	border-radius: 0 0 10px 10px;
}

.feature-achievement img{
	width: 100%;
	height: 500px;
}

.feature-achievement-text{
	padding-left: 10px;
	min-height: 92px;
	border-bottom:2px solid #DFDFDF;
}

.feature-achievement-text h2{
	font-size: 12pt;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}

.feature-achievement-text p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.quad-achievement{
	width: 32%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.bi-wide{
	width: 32%;
	height: 450px;
	display: inline-block;
	padding-right: 5px;
	vertical-align: top;	
}

.standard-achievement{
	width: 47%;
	height: 309px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
	border:2px solid #DFDFDF;
	border-radius: 0 0 10px 10px;
	margin-bottom: 10px;
}

.standard-achievement img{
	width: 100%;
	height: 179px;
}

.standard-achievement-text{
	padding-left: 5px;
	min-height: 90px;
	border-bottom:2px solid #DFDFDF;
}

.standard-achievement-text h2{
	font-size: 12pt;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}

.standard-achievement-text p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.wide-achievement{
	width: 100%;
	height: 309px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	border:2px solid #DFDFDF;
	border-radius: 0 0 10px 10px;
}

.wide-achievement img{
	width: 100%;
	height: 179px;
}

.wide-achievement-text{
	padding-left: 10px;
	min-height: 90px;
	border-bottom:2px solid #DFDFDF;
}

.wide-achievement-text h2{
	font-size: 12pt;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}

.wide-achievement-text p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.standard-achievement-stats{
	background-color: #F6F6F6;
	border:0px solid #DFDFDF;
	border-radius: 0 0 10px 10px;
	display: table;
	width: 100%;
}

.standard-achievement-stats img{
	height: 27px;
	width: 30px;
	float: left;
}

.standard-achievement-stats span{
	display: table-cell;
	vertical-align: top;
	padding-top: 5px;
	font-weight: bold;
	font-size: 9px;
	float: left;
}

.favorite-box{
	float: right;
	width: 35px;
	display: table-cell;
	border-left:2px solid #DFDFDF;
}

.favorite-box img{
	width: 30px;
	margin-left: 3px;
}

.horizontal-shift{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 1200px; 
	height: 700px;
}

.layout-selector{
	float: right;
	padding-bottom: 10px;
	padding-right: 25px;
}

.layout-selector img{
	height: 20px;
	float: left;
}

.social-media-buttons{
	width: 150px;
	float: right;
	padding-right: 210px;
	padding-top: 10px;
}

.social-media-buttons img{
	width: 150px;
	padding-bottom: 5px; 
}

.bottom-page-links{
	width: 80%;
    margin: 0 auto;
}
.bottom-page-links a{
	text-decoration: none;
	color: #4F9585;
}

.bottom-page-links p{
	margin: 5 auto;
	text-align: center;
}

