.header {
	height: 100px;
	background-color: blue;
}

.header h1 {
	font-size: 30;
	color: black;
	display: inline;
}

.content {
	width: 1500px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
}

.content h1 {
	font-size: 30;
	color: green;
	display: inline;
}

.footer {
	height: 100px;
	background-color: black;
}

.footer h1 {
	font-size: 30;
	color: white;
	display: inline;
}

.page {
	background-color: purple;

}